Untitled.ipynb
run_all_models.py

res_data/IMDB-Movie-Reviews-50k
res_data/Twitter_raw_data/*
res_data/IMDB_training/*
res_data/Twitter_training/*
res_data/IMDB_l_test
res_data/IMDB_l_train
res_data/IMDB_prepare.ipynb
res_data/Twitter_prepare.ipynb

.ipynb_checkpoints/
res_data/.ipynb_checkpoints/
res_data/__pycache__/

res_models/accuracies/*
res_models/IMDB/*
res_models/logs/*
res_models/Twitter/*

!res_models/accuracies/.placeholder
!res_models/IMDB/.placeholder
!res_models/logs/.placeholder
!res_models/Twitter/.placeholder


