
# spcific for my own repository
process_imdb.ipynb
process_twitter.ipynb
test.ipynb

older_versions/*
res_plots/old
current*
footesting.ipynb
find_example.ipynb

# Notebooks
analyse.ipynb
analyse_BS.ipynb

Untitled.ipynb
run_all_models.py

res_data/IMDB-Movie-Reviews-50k
res_data/Twitter_raw_data/*
res_data/IMDB_training/*
res_data/Twitter_training/*
res_data/IMDB_l_test
res_data/IMDB_l_train
res_data/IMDB_prepare.ipynb
res_data/Twitter_prepare.ipynb
res_data/Twitter_l_test
res_data/Twitter_l_train
res_data/data_prep.txt

.ipynb_checkpoints/
__pycache__/
.gitignore.save
plot1.py


res_data/.ipynb_checkpoints/
res_data/__pycache__/

res_models/*
res_results/*
!res_results/IMDB_evaluation_df

training_log

!res_models/.placeholder

